<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    {% block title %}<title></title>{% endblock title %}
    
</head>
<body>
    <!-- navber start -->
    <header class="py-2 sticky-top bg-light">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                  <a class="navbar-brand" href="{% url 'home_page' %}">HamLet<i class="bi bi-cup-straw"></i></a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home_page' %}">Home</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Drinks
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Wine</a></li>
                          <li><a class="dropdown-item" href="#">Coffee</a></li>
                          <li><a class="dropdown-item" href="#">Lemonade</a></li>
                          <li><a class="dropdown-item" href="#">Iced tea</a></li>
                          <li><a class="dropdown-item" href="#">Hot chocolate</a></li>
                        </ul>
                      </li>
                      
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Burgers
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Urdaburger</a></li>
                            <li><a class="dropdown-item" href="#">Next-Level Turkey Burgers with Lemon Aioli</a></li>
                            <li><a class="dropdown-item" href="#">Ultimate Veggie Burgers</a></li>
                        </ul>
                      </li>

                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Pizzas
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'italypizza' %}">Rustica Pizza</a></li>
                            <li><a class="dropdown-item" href="{% url 'italypizza' %}">Vegetarian Pizza</a></li>
                            <li><a class="dropdown-item" href="{% url 'italypizza' %}">Taco pizza</a></li>
                            <li><a class="dropdown-item" href="{% url 'italypizza' %}">margherita pizza</a></li>
                        </ul>
                      </li>
                      
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'contact_page' %}">Contact</a>
                      </li>

                    </ul>
                    
                    <form class="d-flex" role="search">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-dark" type="submit">Search</button>
                    </form>
                  </div>
                </div>
              </nav>
        </div>
    </header>
<hr>
<!-- navber end -->



<!------------------------ inherit page from here --------------------->
{% block content %}
<!-- content -->
{% endblock content %}
<!------------------------- inherit page from here -------------------->






<!-- footer start here -->
<footer class="py-5 coustom-bg-color">
    <div class="container">
        <p class="text-center">This is Footer Page</p>
        <p class="text-center">© 2023 All Rights Reserved, HamLet</p>

    </div>
</footer>
<!-- footer end here -->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>