{% extends "common_code/base.html" %}
{% load static %}
{% block title %}<title>Hamlet | ItalyPizzas</title>{% endblock title %}
{% block content %}
<!-- card item start -->
<section id="FoodItemCatagory" class="p-1 py-3">
    <div class="container-fluid">
      <h1 class="text-center fw-bold p-2">Italy Pizza Menu</h1>
  
      <div class="row py-2">
        <div class="col-lg-3 col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="{% static 'img/pizza1.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Rustica Pizza</h5>
              <p class="card-text">Tomato Sauce, Mozzarella, Green Pepper, Onions, Fresh Mushrooms, Tomatoes, and Black OlivesGet our Manhattan Classic Cheese Pizza.</p>
              <!-- <a href="#" class="btn btn-dark">Order now</a> -->
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="{% static 'img/pizza3.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Vegetarian Pizza</h5>
              <p class="card-text">Tomato Sauce, Mozzarella, Green Pepper, Onions, Fresh Mushrooms, Tomatoes, and Black OlivesGet our Manhattan Classic Cheese Pizza.</p>
              <!-- <a href="#" class="btn btn-dark">Order now</a> -->
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="{% static 'img/pizza2.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Taco pizza</h5>
              <p class="card-text">This taco pizza is topped with refried beans, cheese, romaine, crumbled tortilla chips, and of course — ranch.</p>
              <!-- <a href="#" class="btn btn-dark">Order now</a> -->
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="{% static 'img/pizza1.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">margherita pizza</h5>
              <p class="card-text">The supreme pizza is another highly popular pizza topping, though the exact definition varies on the pizzeria! </p>
              <!-- <a href="#" class="btn btn-dark">Order now</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- card item end -->
    

{% endblock content %}